@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.auth-input {
		@apply py-2 px-4 bg-transparent border-gray-200 border-2 font-semibold text-white  rounded-lg shadow-sm hover:bg-transparent focus:outline-none focus:border-emerald-200;
	}
	.auth-input-text {
		@apply absolute  group-hover:backdrop-blur-md px-2 left-[30px] transition-all;
	}
	.App {
		@apply bg-emerald-700;
	}
}
#root {
	margin: 0 auto;
	padding: 0;
	text-align: center;

	min-height: 100vh;
}

.Card-bg {
	background-image: url('./assets/authWave.svg');
	background-position: bottom;
	background-size: cover;
}

.Login-bg {
	background-image: url('./assets/loginBg.svg');
	background-position: center;
	background-size: cover;
}
